/* You can add global styles to this file, and also import other style files */

/* Application-wide Styles */
h1 {
  font-family: "Jedi", sans-serif;
}

h1,
h2,
h3 {
	margin-top: 0;
}

body {
  margin: 2em;
	background-color: black;
}

p {
	color: white;
  margin: 0;
}

/* Fonts */
@font-face {
    font-family: 'Jedi';
    src: url('../assets/fonts/StarJediHollow.eot');
    src: url('../assets/fonts/StarJediHollow.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/StarJediHollow.woff2') format('woff2'),
        url('../assets/fonts/StarJediHollow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
