/* You can add global styles to this file, and also import other style files */
* {

}

/* Application-wide Styles */
h1 {
  text-align: center;
  font-family: 'Star Jedi', sans-serif;
  max-width: 16em;
  color: black;
  font-size: 7em;
  margin: 0;
  letter-spacing: 6px;
  text-shadow:
    -2px -2px 0 gold,
     2px -2px 0 gold,
    -2px  2px 0 gold,
     2px  2px 0 gold;
}

br {
  height: 0px;
}

h1,
h2,
h3 {
	margin-top: 0;
}

body {
  background: url("../assets/images/stars.png") center center !important;
  background-color: black;
}

section {
  width: 100%;
}

p {
	color: white;
  margin: 0;
}

a {
  text-decoration: none;
}

/* Fonts */
@font-face {
    font-family: 'Star Jedi';
    src: url('../assets/fonts/StarJedi.eot');
    src: url('../assets/fonts/StarJedi.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/StarJedi.woff2') format('woff2'),
        url('../assets/fonts/StarJedi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
