/* HeroesComponent's private CSS styles */
h2 {
  text-align: center;
  color: #d3b826;
}

.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 3em;
  width: 100%;
}
.heroes li {
  cursor: pointer;
  left: 0;
  background-color: #d3b826;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  display: inline-block;
}
.heroes li:hover {
  color: #607D8B;
  background-color: #f9e263;
  left: .1em;
}
.heroes a {
  color: white;
  text-decoration: none;
  width: 250px;
}
.heroes a:hover {
  color: grey;
}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}
 
button:hover {
  background-color: #cfd8dc;
}
 
button.delete {
  position: relative;
  left: 194px;
  top: -32px;
  background-color: gray !important;
  color: white;
}

button.add {
  margin-left: 10px;
  background-color: gray !important;
  color: whitesmoke;
}