<h2>{{url | titlecase }}</h2>
<ul class="heroes">
  <li *ngFor="let resource of resources"> 
      <a routerLink="{{ resource.url | getId }}">
        <span *ngIf="resource.name">
          {{ resource.name }}
        </span>
        <span *ngIf="resource.title">
          {{ resource.title }}
        </span>
      </a>
  </li>
</ul>

<button class="add" *ngIf="previous" (click)="getPage(previous)">
previous
</button> 
<button class="add" *ngIf="next" (click)="getPage(next)">
Next
</button>

<button (click)="goBack()">Go back</button>

<!-- Is here where hero-search work -->
<app-hero-search></app-hero-search>